{name, "erlang-stomp-client"}.
{authors, ["nisbus <nisbus@kodiak.is>","Omar Yasin <omar@kodiak.is>"]}.
{description, "A stomp client written in erlang"}.
{homepage, "https://github.com/KodiEhf/erlang-stomp-client"}.
{rebar_compatible, true}.
{url, {git, "git://github.com/KodiEhf/erlang-stomp-client.git", {branch,"master"}}}. 
{code_paths,["ebin"]}.
{applications, [stomp_client]}.
